body {
  overflow-x: hidden;
}

.about {
  background-image: url(/images/about-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.border-color {
  background-image: linear-gradient(90deg, #ffdd65 2.76%, #ffaa5c 29.66%, #ff49c0 61%, #8e59ff 99.93%);
  border-radius: 30px;
  padding: 5px;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.cta {
  display: flex;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  color: white;
  background: #212132;
  transition: 1s;
  border-radius: 5px;
  box-shadow: 8px 8px 0px #8e59ff;
}

.bg-img {
  background-image: linear-gradient(135deg, #ffdd65 2.76%, #ffaa5c 29.66%, #ff49c0 61%, #8e59ff 99.93%);
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(1rem);
  z-index: -784512;
}

.image-container {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust the shadow as needed */
  z-index: 8451;
}

.image-container::after {
  content: ""; /* Create a pseudo-element to apply the box shadow */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Move the pseudo-element behind the image */
}

.col-lg-6, .col-lg-8 .col-sm-12 {
  z-index: 85;
}

.cta:focus {
  outline: none;
}

.cta:hover {
  transition: 0.5s;
  box-shadow: 0px 0px 0 #FBC638;
}

.cta span:nth-child(2) {
  transition: 0.5s;
  margin-right: -30px;
}

.cta:hover span:nth-child(2) {
  transition: 0.5s;
}
